<h1><b>Add Event</b></h1>
<form method="post">
    <label for="event title">Event title</label>
    <input id ="event title"name="name" type="text"/>
    <label for="event description">Event Description</label>
    <input id ="event description" name="description" type="text"/>
    <input type="submit" value="Add Event"/>
</form>