@model CodingEvents.ViewModels.AddEventViewModel

<h1><b>Add Event</b></h1>
<form method="post">
    <div asp-controller="Events" asp-action="Add" class="form-group">
        Event
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-group" placeholder="Enter event name">
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-group" placeholder="Enter description">
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" class="form-group" placeholder="youremail@email.com">
        <span asp-validation-for="ContactEmail"></span>
    </div>
    <div>
        <label asp-for="Location">Location</label>
        <input asp-for="Location" class="form-group" placeholder="Enter location here">
        <span asp-validation-for="Location"></span>
    </div>
    <div>
        <label asp-for="NumberAttendees">Number of Attendees</label>
        <input asp-for="NumberAttendees" class="form-group" placeholder="Enter location here">
        <span asp-validation-for="NumberAttendees"></span>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>