

<h1><b>Coding Events</b></h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet</p>
}
<table style="width:100%">
<tr>
    <th>Event Title</th>
    <th>Description</th>
</tr>
    @foreach (Event meeting in ViewBag.events)
    {
<tr>
    <td>@meeting.Name</td>
    <td>@meeting.Description</td>
    <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@meeting.Id">Edit Event</a></td>

</tr>
    }
</table>